<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo%></title>
    <%- include("../partials/css.html");%>
</head>
<body>
    <!-- Inicio Cabecera de la página -->
    <%- include("../partials/header.html");%>
    <!-- Fin de la Cabecera -->
    <!-- Inicio Cuerpo de lá página -->
    <body>
        
    </body>
    <!-- Fin del Cuerpo de la página -->
    <!-- Inicio del píe de página -->

    <!-- Fin del píe de página -->
    <%- include('../partials/js.html')%>
</body>
</html>